body{
    margin: 0%;
    font-family: Arial;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Flexbox vertical que estica a página */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
}

/* Conteúdo cresce pra empurrar o footer */
main {
  flex: 1;
  padding: 20px;
}

header{
    background-image: url(../img/ImagemIndex1.png);
    padding-top: 1150px;
    padding-bottom: 20px;
    position: relative;
    font-size: 30px;
}

header ul{
    display: inline-block;
    width: 90%;
    position: absolute;
    top: 10px;
}
.Cadastro{
    position: absolute;
    right: 10px;
    top: 1px;
}
header ul li{
    display: inline;
    margin-left: 17%;
    list-style-type: none;
}

header a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding-top: 3%;
    padding-bottom: 2.2%;
    padding-left: 1%;
    padding-right: 1%;
    
}
header a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 0, 0);
}
.Introducao{
   width: 60%;
   position: absolute; 
   top: 80px; 
   color: aliceblue;
   text-align: center;
   font-size: 40px;    
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.Introducao img{
    width: 50%;
    height: 50%;
}
button{
    padding: 1%;
    width: 40%;
    background-color: rgb(151, 7, 7);
    margin-bottom: 20px;
    margin-top: 3%;
    font-size: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 30px;
    
}



.CursoProfissional{
     background-image: url(../img/Profissional.png);
     height: 948px;
     position: relative;
}
.CursoProfissional h2{
    color: rgb(151, 7, 7);
}
.CursoProfissional div{
     font-size: 40px;
    position: absolute;
    top: 30%;
    right: 10%;
}
.CursoProfissional button{
    padding: 1%;
    width: 50%;
    height: 20%;
    background-color: rgb(151, 7, 7);
    font-size: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 30px;
}
.Localizacao{
    display: flex;
    text-align: center;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
}
footer{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 50px;
}
footer p{
    color: white;
    text-align: center;
}
.linhaFooter{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 1px rgba(255, 255, 255,.1);
    border-bottom: solid 1px rgba(255, 255, 255,.1);
}
footer ul{
    margin: 0 auto;
    width: 35%;
}
footer li{
    display: inline;
    margin-left: 4%;
    list-style-type: none;
}
footer a{
    color: white;
    text-decoration: none;
}
#RedesSoci{
    margin-top: 2%;
}
#Twitter{
    display: inline-block;
    filter: invert(100%);
    width: 30px;
    height: 30px;
    margin-left: 48%;
}
#Instagram{
    display: inline-block;
    filter: invert(100%);
    width: 30px;
    height: 30px;
    margin-left: 10px;
}